__pycache__
.env
.learn
/workspaces/Isa-Random-forest/data/processed/clean_test.csv
/workspaces/Isa-Random-forest/data/processed/clean_train.csv
/workspaces/Isa-Random-forest/src/random_forest_2_def_42.sav
/workspaces/Isa-Random-forest/src/Decision_tree_final_random.sav